---
layout: default
title: Conference Program
og_tags:
- property: og:description
content: Preliminary Program
---

<h2>Preliminary Conference Program</h2>

{% comment %}
<center>
  <a href="images/schedule-overview-icn.pdf" data-ajax="false"><img class="schedule" src="images/schedule-overview-icn.jpg"></a>
</center>
{% endcomment %}

<p>&nbsp;</p>

<h3>Keynote</h3>

{% asset photo-bruce-maggs.jpg class="photo-left" %}
<p>Bruce Maggs will give the keynote at ACM ICN 2020.</p>

<p>
</p>

<blockquote>
  <headline>Abstract</headline>
  <p>
  </p>
</blockquote>

<h3>Schedule</h3>
<div id="prog_ctrl" data-role="navbar">
  <ul>
    <li><a href="#" onClick="filter('monday');">Monday</a></li>
    <li><a href="#" onClick="filter('tuesday');">Tuesday</a></li>
    <li><a href="#" onClick="filter('wednesday');">Wednesday</a></li>
    <li><a href="#" onClick="filter('all');" class="ui-btn-active ui-state-persist roundright">All Days</a></li>
  </ul>
</div>

{% include program-online.html type="program" %}

{% comment %}

  <h3>List of Accepted Posters</h3>
  {% include program-online.html type="posters" %}

  <h3>List of Accepted Demos</h3>
  {% include program-online.html type="demos" %}

{% endcomment %}
