---
layout: default
title: Conference Program
og_tags:
- property: og:description
content: Conference Program
---

<h2>Conference Program</h2>

{% comment %}
Kindly note that the schedule below is tentative and subject to updates.
{% endcomment %}

<p style="text-align: center;">
<a data-ajax="false" href="{% asset program-at-glance-program-at-glance-1pnye81Kcu3B-xL2vSOU7l2cSLvyij0LinSnnQh-6mX4.pdf @path %}">Conference Schedule at a Glance  
{% asset program-at-glance-program-at-glance-1pnye81Kcu3B-xL2vSOU7l2cSLvyij0LinSnnQh-6mX4.png style="max-width: 100%" %}</a>
</p>

<h3>Schedule</h3>
<div id="prog_ctrl" data-role="navbar">
  <ul>
    <!-- <li><a href="#" onClick="filter('monday');">Tuesday</a></li> -->
    <li><a href="#" onClick="filter('wednesday');">Wednesday</a></li>
    <li><a href="#" onClick="filter('thursday');">Thursday</a></li>
    <!-- <li><a href="#" onClick="filter('monday');">Friday</a></li> -->
    <li><a href="#" onClick="filter('all');" class="ui-btn-active ui-state-persist roundright">All Days</a></li>
  </ul>
</div>

{% include program-online.html type="program" %}

{% comment %}

  <h3>List of Accepted Posters</h3>
  {% include program-online.html type="posters" %}

  <h3>List of Accepted Demos</h3>
  {% include program-online.html type="demos" %}

{% endcomment %}
